{% extends 'rdv_app/base.html' %}

{% block title %}Bienvenue sur Boost Carrière{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="jumbotron text-center mb-5 d-flex flex-column justify-content-center align-items-center" style="min-height: 250px;">
    <h1 class="display-4">Bienvenue sur Boost Carrière</h1>
    <div class="d-flex justify-content-center align-items-center" style="min-height: 90px;">
      <p class="lead m-0">Découvrez nos services pour booster votre carrière et votre épanouissement.</p>
    </div>
    <div class="mt-4">
      <a href="{% url 'choix_auth' %}?next={% url 'prise_rdv' %}" class="btn btn-success btn-lg">Prendre un rendez-vous</a>
    </div>
  </div>
</div>
{% endblock %}
