{% extends 'rdv_app/base.html' %}

{% block title %}Changer mon mot de passe{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height:70vh;">
  <div class="card shadow p-4" style="max-width: 420px; width:100%;">
    <h2 class="mb-4 text-center">Changer mon mot de passe</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-success w-100 mt-2">Valider</button>
    </form>
    <a href="{% url 'profile_update' %}" class="btn btn-link w-100 mt-3">Retour à la modification du profil</a>
  </div>
</div>
{% endblock %} 